body {
    background-color: #2d5bb9;
}

p.smokerTemp {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 175px;
    position: fixed;
    left: 35%;
    bottom: 45%
}

p.smoker {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 45px;
    position: fixed;
    left: 43%;
    bottom: 60%;
}

p.targetTemp {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 100px;
    position: fixed;
    right: 10%;
    top: 5%;
}

img.upArrow {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 100px;
    position: fixed;
    right: 5%;
    top: 22%;
}

img.downArrow {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 100px;
    position: fixed;
    right: 5%;
    top: 28%
}

p.foodTemp {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 100px;
    position: fixed;
    top: 5%;
}

p.food {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 35px;
    position: fixed;
    top: 10%;
    left: 5%;
}

p.blower {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 35px;
    position: fixed;
    top: 50%;
    left: 5%
}

p.blowerStatus {
    color: white;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 100px;
    position: fixed;
    top: 45%
}